* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  /*background-color: mistyrose;*/
  background-color: #121212;
}

textarea {
  border: 8px solid black;
  width: 850px;
  height: 100px;
}

div {
  margin-top: 50px;
}

.svg7a {
  margin-top: 50px;
}

.svg7 {
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #121212;
}

#MyRect:hover {
  stroke: black;
  fill: blue;
 }

#MyRect {
  fill: red;
  stroke: black;
}

.container {
  text-align: center;
  vertical-align: middle;
}

.svg8 {
  border: 6px solid gold;
  height: 660px;
  background-color: #c9e9f6;
}

.spacer {
  width: 800px;
  height:40px;
}

/*for canvas div border, not in use currently*/

/*#svg-9 {
  width: 600px;
  height: 500px;
  border: 2px solid green;
}*/

#range1:hover {
  fill: red;
}

#range2:hover {
  fill: orange;
}

#range3:hover {
  fill: yellow;
}

#range4:hover {
  fill: green;
}

#range5:hover {
  fill: indigo;
}

#range6:hover {
  fill: violet;
}
#range3mask:hover {
  fill: yellow;
}

#range5mask:hover {
  fill: indigo;
}

#range6mask:hover {
  fill: violet;
}


.hidden {
  display: none;
}

h4 {
  color: red;
}

h3 {
  margin-top: 20;
  color : lightblue;
}
