* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: mistyrose;
  /*background-color: #121212;*/
}

textarea {
  width: 800px;
  height: 60px;
}

div {
  margin-top: 80px;
}

div .svg7 {
  width: 300px;
  height: 200px;
  background-color: mistyrose;
}

#MyRect:hover {
  stroke: black;
  fill: blue;
 }

#MyRect {
  fill: red;
  stroke: black;
}

.container {
  text-align: center;
  vertical-align: middle;
}

.svg8 {
  border: 3px solid gold;
  height: 660px;
  background-color: #c9e9f6;
}

.spaver {
  width: 800px;
  height:30px;
}

/*for canvas div border, not in use currently*/

/*#svg-9 {
  width: 600px;
  height: 500px;
  border: 2px solid green;
}*/

#range1:hover {
  fill: red;
}

#range2:hover {
  fill: orange;
}

#range3:hover {
  fill: yellow;
}

#range4:hover {
  fill: green;
}

#range5:hover {
  fill: indigo;
}

#range6:hover {
  fill: violet;
}

.hidden {
  display: none;
}

.yellow {
  fill: #ffffd8;
}


h4 {
  color: red;
}

h3 {
  color : lightblue;
}
